<div style="height: auto;">

	<tabset type="pills" class="top-spacing"> <tab
		heading="New Quiz" class="right-spacing" active="quiz_create_view">
	<form name="form" class="top-spacing">
		<div class="label-holder">NAME</div>
		<div class="input-holder">
			<input type="text" class="form-control" id="quiz_name"
				ng-model="quiz.quiz_name" name="quiz.quiz_name" required="true" />
		</div>

		<div class="label-holder">AUTO EVAL</div>
		<div class="input-holder">
			<input type="checkbox" ng-model="quiz.quiz_autoeval">
		</div>

		<div class="label-holder">CATEGORY</div>
		<div class="input-holder">
			<select ng-model="selected_quiz_category"
				class="selectpicker dropdown"
				ng-options="quiz_category.name for quiz_category in quiz_categories">
			</select>
		</div>

		<div class="label-holder">LEVEL</div>
		<div class="input-holder">
			<select ng-model="selected_quiz_level" class="selectpicker dropdown"
				ng-options="quiz_level.name for quiz_level in quiz_levels">
			</select>
		</div>

		<!-- DYNAMIC CONTENT -->
		<h4 id="title" class="hidden">Questions:</h4>
		<div style="width: 100%">
			<ul id="questions">
			</ul>
		</div>

		<div class="option-holder">
			<a ng-click="showQuestionPopup()" class="btn">+ ADD QUESTION</a>
		</div>

		<div class="btn-holder">
			<a ng-click="saveQuiz(quiz)" class="btn" ng-hide="updateStarted">SAVE QUIZ</a>
			<a ng-click="updateQuiz(quiz)" class="btn" ng-show="updateStarted">UPDATE QUIZ</a>
			<a ng-click="cancelUpdate()" class="btn" ng-show="updateStarted">CANCEL</a>
		</div>

	</form>

	</tab> <tab heading="Quizzes" class="right-spacing" active="quiz_list_view">
	<div class="quizzes_container" style="margin-top: 20px;">
		<quizzes></quizzes>
	</div>
	</tab> </tabset>

	<decisionpopup></decisionpopup>
	<questionpopup></questionpopup>

</div>

